<div class="card addTaskCard">
    <div class="card-body">
        <form action="/tasks/addTask" method="POST" class="new-task-form">
            <div class="form-group">
                <label><b>
                        Task Name</b>
                    <input id="taskInput1" type="text" name="title" placeholder="Task Name" class="form-control" />
                </label>
            </div>
            <div class="form-group">
                <label><b>Choose a Device</b>
                    <select id="deviceID" name="deviceID" class="form-control">
                        {{#each devices}}
                        <option value="{{deviceID}}">{{room}} {{deviceName}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>

            <div class="form-group">
                <label><b>Frequency</b></label><br>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Monday">
                    <span class="form-check-label"> Monday</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Tuesday">
                    <span class="form-check-label"> Tuesday</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Wednesday">
                    <span class="form-check-label"> Wednesday</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Thursday">
                    <span class="form-check-label"> Thursday</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Friday">
                    <span class="form-check-label"> Friday</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Every Day">
                    <span class="form-check-label"> Every Day</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Every Weekday">
                    <span class="form-check-label"> Every Weekday</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="frequency" value="Every Weekend">
                    <span class="form-check-label"> Every Weekend</span>
                </label>
            </div>
            <div class="form-group">
                <label><b>Date Range</b> </label><br>
                <label>From
                    <input type="date" id='datefrom' name="datefrom" min={{dateFormat today "YYYY-MM-DD" true}}></label>
                <label>To
                    <input type="date" id='dateto' name="dateto" min={{dateFormat today "YYYY-MM-DD" true}}></label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="noEndDate" value="true">
                    <span class="form-check-label"> No End Date</span>
                </label>
            </div>

            <div class="form-group">
                <label><b>Time</b></label><br>
                <label>From
                    <input type="time" id='timefrom' name="timefrom"></label>
                <label>To
                    <input type="time" id='timeto' name="timeto"></label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="noEndTime" value="true">
                    <span class="form-check-label"> No End Time</span>
                </label>
            </div>

            <div class="form-group">
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="status" value="on" {{checkValue "on" status}}>
                    <span class="form-check-label"> <b>ON</b></span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="status" value="off" {{checkValue "off" status}}>
                    <span class="form-check-label"> <b>OFF</b></span>
                </label>
            </div>
            <button type="submit" id="b6" class="btn btn-outline-success">Create New Task</button>
            <button type="reset" id="b7" class="btn btn-warning">Clear Form</button>
            <a href="/tasks/manageTasks"><button id="back-to-all-task" class="btn btn-outline-primary">Back To All Tasks</button></a>
        </form>
    </div>
</div>