<div class="task-container">
    <div class="row">
        <h2 class="taskHeading">Tasks</h2>
        <form action="/tasks/addTask" method="get" style="margin-left:auto">
            <button type="submit" class="btn btn-circle1 btn-primary">+</button>
        </form>

    </div><br>
    <table class="table table-striped table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Device</th>
                <th scope="col">Time</th>
                <th scope="col">Frequency</th>
                <th scope="col">Date Range</th>
                <th scope="col">Status</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {{#each tasks}}
            <tr>
                <td><b>{{title}}</b></td>
                <td>{{deviceName}}</td>
                <td>{{time.from}} {{#if time.to}} - {{time.to}} {{/if}}</td>
                <td>
                    {{#each frequency}}
                    {{this}}
                    {{/each}}
                </td>
                <td>
                    {{date.from}} To {{#if date.to}} {{date.to}} {{else}} No End Date {{/if}}
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox" {{checkValue "on" status}} id="{{taskID}}status">
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label for="edit-{{@index}}" class="hidden">Edit Task</label>
                    <button id="edit-{{@index}}" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#edit-task{{@index}}"><i class="fa fa-edit"></i></button>

                    <label for="del-{{@index}}" class="hidden">Delete Task</label>
                    <button id="del-{{@index}}" type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#del-task{{@index}}"><i class="fa fa-trash"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="del-task{{@index}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Delete Task</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this task?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form action="/tasks/delete/{{taskID}}" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="edit-task{{@index}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Edit Task</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/tasks/editTask" method="POST">

                                        <div class="form-group">
                                            <label for="title"><b>Task Name: </b></label>
                                            <input type="text" name="title" id="title{{@index}}" value="{{title}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="device"><b>Device:</b></label>
                                            <input type="text" readonly name="deviceName" id="deviceid{{@index}}"
                                                value="{{deviceName}}">

                                        </div>
                                        <div class="form-group">
                                            <label><b>Frequency</b></label><br>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Monday" {{checkInArray "Monday" frequency}}>
                                                <span class="form-check-label"> Monday</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Tuesday" {{checkInArray "Tuesday" frequency}}>
                                                <span class="form-check-label"> Tuesday</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Wednesday" {{checkInArray "Wednesday" frequency}}>
                                                <span class="form-check-label"> Wednesday</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Thursday" {{checkInArray "Thursday" frequency}}>
                                                <span class="form-check-label"> Thursday</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Friday" {{checkInArray "Friday" frequency}}>
                                                <span class="form-check-label"> Friday</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Every Day" {{checkInArray "Every Day" frequency}}>
                                                <span class="form-check-label"> Every Day</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Every Weekday" {{checkInArray "Every Weekday" frequency}}>
                                                <span class="form-check-label"> Every Weekday</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="frequency"
                                                    value="Every Weekend" {{checkInArray "Every Weekend<" frequency}}>
                                                <span class="form-check-label"> Every Weekend</span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Date Range</b> </label><br>
                                            <label>From
                                                <input type="date" id='datefrom' name="datefrom"
                                                    value={{dateFormat date.from "YYYY-MM-DD" true}}></label>
                                            <label>To
                                                <input type="date" id='dateto' name="dateto"
                                                    value={{dateFormat date.to "YYYY-MM-DD" true}}></label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="noEndDate"
                                                    value="true">
                                                <span class="form-check-label"> No End Date</span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label><b>Time</b></label><br>
                                            <label>From
                                                <input type="time" id='timefrom' name="timefrom"
                                                    value={{time.from}}></label>
                                            <label>To
                                                <input type="time" id='timeto' name="timeto" value={{time.to}}></label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="noEndTime"
                                                    value="true">
                                                <span class="form-check-label"> No End Time</span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="status" value="on"
                                                    {{checkValue "on" status}}>
                                                <span class="form-check-label"> ON</span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="status" value="off"
                                                    {{checkValue "off" status}}>
                                                <span class="form-check-label"> OFF</span>
                                            </label>
                                        </div>
                                        <input type="hidden" name="taskID" value={{taskID}} />
                                        <button type="submit" class="btn btn-danger">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>